<div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold">Counter:{{counter()}}</h1>
    <div class="flex items-center gap-4 justify-evenly py-5 w-40">
        <button  (click)="increment()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">increment</button>
        <button (click)="decrement()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">decrement</button>
        <button (click)="reset()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">reset</button>
    </div>

    <input class="border" type="text" name="" (keyup)="keyUpValueChanged($event)" id="">

</div>