.persianBlueNeonGlowEffect {
    border-radius: 50%;
    background: linear-gradient(180deg, #312ECB 0%, #FF21E9 100%);
    filter: blur(50px);
  }
  
  .persianBlueNeonBlurEffect {
    border-radius: 31810.979px;
    background: var(--Persian-Blue-700, #312ECB);
    filter: blur(50px);
  }