<html class="bg-gray-100 px-20">
<header class="flex justify-between items-center bg-green-800 text-white py-10 px-10">
  <h1 class="text-4xl font-bold text-center">Angular Tailwind Project</h1>
  <nav class="flex justify-center items-center gap-5  text-2xl font-bold">
    <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/login">Login</a>
  </nav>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="goToLogin()">Login</button>
</header>
<main  class="h-screen">
  <router-outlet></router-outlet>
</main>
  <footer class="text-center  text-gray-100 bg-green-800 py-10 text-2xl">Angular Tailwind Project 2023</footer>

</html>